/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Sora:wght@100..800&display=swap");

/* Google Fonts Family */
.font-adam-display {
  font-family: "ADLaM Display", serif;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Sora", serif;
}

.section-max-width {
  max-width: 1320px;
  margin: 0 auto;
}

/* banner styles */
#banner {
  background-image: url("./assets/cat-big.png");
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  background-size: 100%;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
  /* media for navbar */
  nav {
    padding: 0 1rem;
    border-bottom: 2px solid #7a7a7a;
  }
  #brand,
  #nav-links {
    display: none;
  }
}

@media screen and (min-width: 1320px) {
  #banner-description {
    padding-right: 48rem;
  }
}
